# Ignore all user folders in shared directories
**/shared/*
!**/shared/.keepfile

# Ignore all generated boxes
**/*.box

# Ignore created Vagrant directories
**/.vagrant/

# Ignore generated vagrant logfiles
**/*.log

# Ignore swapfiles
**/*.swp
